plots.R
ExData_Plotting1.Rproj
.Rproj.user/2F7438FD/pcs/workbench-pane.pper
.Rproj.user/2F7438FD/pcs/windowlayoutstate.pper
.Rproj.user/2F7438FD/pcs/source-pane.pper
.Rproj.user/2F7438FD/pcs/files-pane.pper
.Rhistory
.RData